In [ ]:
#bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [ ]:
#carregando o csv 
db = pd.read_csv('Startups+in+2021+end.csv')

In [ ]:
#visualizando a estrutura dos dados
db.head()

In [ ]:
db.columns

In [ ]:
#renomeando as colunas
db.rename(columns={
    'Unnamed: 0' : 'Id',
    'Company' : 'Company',
    'Valuation ($B)' : 'Valuation',
    'Date Joined' : 'Date',
    'Country' : 'Country',
    'City' : 'City',
    'Industry' : 'Industry',
    'Select Investors' : 'Investors',
}, inplace=True)

In [ ]:
db.info()

In [ ]:
#analise grafica dos campos nulos
plt.figure(figsize=(15,6))
plt.title('null')
sns.heatmap(db.isnull(), cbar=False)

In [ ]:
db.nunique()

In [ ]:
#analise dos principais setores
db['Industry'].value_counts()

In [ ]:
#analise grafica dos principais setores
plt.figure(figsize=(15,6))
plt.title('Analise dos setores')
plt.bar(db['Industry'].value_counts().index, db['Industry'].value_counts())
plt.xticks(rotation=45,ha='right')

In [ ]:
#analisando os pa√≠ses
countries = round(db['Country'].value_counts(normalize=True) * 100,1)
plt.figure(figsize=(15,6))
plt.title('Analise dos paises geradores de Unicornios - Top 10')
plt.pie(
    countries.head(10),
    labels= countries.index[0:10],
    shadow=True,
    startangle=90,
    autopct='%1.1f%%'
);

In [ ]:
#alterando o campo data de object para datetime
db['Date'] = pd.to_datetime(db['Date'])
db['Date'].head()

In [ ]:
#extraindo o mes e o ano para futuras analises
db['month'] = pd.DatetimeIndex(db['Date']).month
db['year'] = pd.DatetimeIndex(db['Date']).year
db.head()

In [ ]:
#agrupando e gerando a tabela analitica das empresas unicornios brasileiras
gb = db.groupby(by=['Country','year','month','Company']).count()['Id'].reset_index()
gb.loc[
    gb['Country'] == 'Brazil'
]

In [ ]:
#alterando o campo valuation para numerico
db['Valuation'] = pd.to_numeric(db['Valuation'].apply(lambda Linha: Linha.replace('$', '')))
db.head()

In [ ]:
#descobrindo o valuation de cada pais - do maior ao menor
countries = db.groupby(by=['Country']).sum()['Valuation'].reset_index()
countries_valuation = countries.sort_values('Valuation', ascending=False)
plt.figure(figsize=(15,6))
plt.plot(
    countries_valuation['Country'],
    countries_valuation['Valuation']
)
plt.xticks(rotation=45, ha='right');